
.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gray-100);
    width: 30rem;
    padding: 2rem;
    gap: 20px;
}
.auth-form .btn{
    margin-top: 20px;
}

.auth-form > label{
   width: 100%;
}
.auth-form > label > input {
    display: flex;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px 0px;
}

.auth-form input[type="checkbox" i]{
    margin-right: 6px;
}
