
.wishlist-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}



@media screen and (max-width: 1100px) {
    .wishlist-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .wishlist-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 420px) {
    .wishlist-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}