

.filter-container{
    background-color: var(--gray-100);
    width: 18rem;
    padding: 0.938rem;
    position: sticky;
    top: 0;
}

.filter-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-input-group{
    display: flex;
    gap: 0.625rem;
    flex-direction: column;
}
.productlist-container{
    display: flex;
    gap: 2.188rem;
    flex-wrap: wrap;
    padding: 2.5rem;
    justify-content: space-between;
}
.productlist-container .card{
   height: fit-content;
}

.mr-btn-10px{
    margin: 10px;
}

